/*Core Styles*/
html{
    min-width: 285px;
}
body{
  margin:0;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  background: #333;
  color:#fff;
  font-size:1.1em;
  line-height: 1.5;
  text-align:center;


}
img{
  display:block;
  width:100%;
  height:auto;
}
img.main{
    width:auto;
    display:inline;
}
h1, h2, h3 {
  margin:0;
  padding: 1em 0 0.5em 0;
}
p{
  margin:0;
  padding: 1em 8em 3em 8em;
}
.btn {
  display:inline-block;
  background: #333;
  color:#fff;
  text-decoration: none;
  padding: 1em 2em;
  border:1px solid #666;
  margin: .5em 0;
}
.btn:hover{
  background: #eaeaea;
  color:#333;
}

/*Header Showcase*/
.jumbotron{
  color:white;
  background: url("main.jpg");
  text-align: center;
  margin-bottom:0;
  background-size: cover;

}
button{
  background-color: #151414;
  color: white;
  padding: 6px 16px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, #8589ff, #00deff);
  transition:0.1s;
}
button:hover{
  opacity: 0.95;
  transform: scale(1.1);
  transition:0.1s;
}
#showcase h1{
  padding-top:100px;
  padding-bottom: 0;
}
#showcase .content-wrap,
#section-a .content-wrap {
  padding:0 1.5em;
}
/*Section A */
#section-a{
  background:#eaeaea;
  color:#333;
  padding-bottom: 2em;
}
 /*Section B*/

 #section-b{
   padding: 2em, 1em, 1em;
 }
#section-b ul{
  list-style-type: none;
  margin:0;
  padding:0;

}
#section-b li{
  margin-bottom:0;
  background:#fff;
  color:#333;
}

}
.card-content{
  padding:1.5em;
}
/*Section C*/
#section-c{
  background:#fff;
  color:#333;
  padding:2em;
}
/* Feedback */
.feedback{
  background: white;
  color: black;
  border-top: 1px solid gray;
}
section#imgQuotes{
  background: white;
  color: black;
  font-size: 0.85em;
  display: grid;
  grid-template-columns: 34% 34% 32%;
  text-align: center;
  padding: 0 20px 20px;
}
.group{
  flex-flow: column;
  align-items: center;
  display: flex;
}
.group p {
  padding:0;
}
.circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #271f1f;
}
.group:first-child .circle{
  background-image: url("woman.jpg");
  background-size: cover;
}
.group:nth-child(2) .circle{
  background-image: url("man1.jpg");
  background-size: cover;
}
.group:nth-child(3) .circle{
  background-image: url("man.jpg");
  background-size: cover;
}
/*Section D*/

#section-d .box{
  padding:2em;
  color:#fff;
}
#section-d .box:first-child{
  background:#2690d4;
}
/*Footer*/

#main-footer{
  padding:2em;
  background:#000;
  color:#fff;
  text-align: center;
}
#main-footer a{
  color:#2690d4;
  text-decoration: none;
}

/*Media Queries*/
@media (max-width:700px){
  .display-3 {
      font-size: 2.3rem;
      font-weight: 300;
      line-height: 1.2;
}
  p {
      padding: 1em 0.5em 2em;
}
section#imgQuotes {
  grid-template-rows: 34% 34% 32%;
  grid-template-columns: auto;
}
}

